/* overall page styling */
*
{
  font-family: serif, Times New Roman, Georgia;
  color: black;
}
html
{
  scroll-behavior: smooth;
}

/* back to top styling */
/* modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
#myBtn
{
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(222, 202, 176);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover
{
  background-color: rgb(169, 169, 169);
  color: white;
}
@media screen and (max-width: 992px)
{
  #myBtn
  {
    border: 2px solid black;
    background-color: rgb(169, 169, 169);
    color: white;
  }
  #myBtn:hover
  {
    background-color: rgb(222, 202, 176);
    color: black;
  }
  #hamburger
  {
      color: white;
  }
}

/* navbar styling */
/* modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
.topnav
{
  overflow: hidden;
  background-color: black;
}
.topnav a
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover
{
  background-color: rgb(222, 202, 176);
  color: black;
}
.topnav .icon
{
  display: none;
}
@media screen and (max-width: 600px)
{
  .topnav a:not(:first-child)
  {
    display: none;
  }
  .topnav a.icon
  {
    float: right;
    display: block;
  }
  .topnav.responsive
  {
    position: relative;
  }
  .topnav.responsive .icon
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a
  {
    float: none;
    display: block;
    text-align: left;
  }
}

/* article heading styling */
#title1
{
  text-align: center;
  font-weight: 100%;
}
@media screen and (max-width: 992px)
{
  .title
  {
    font-size: 275%;
  }
}
.heading
{
  text-align: center;
  font-size: 150%;
}
@media screen and (min-width: 992px)
{
  .title
  {
    font-size: 500%;
  }
}
/* jump buttons styling */
.button
{
  background-color: rgb(222, 202, 176);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: auto;
}

/* article styling */
.box
{
  background-color: white;
  width: 70%;
  border: 0px;
  padding: 10px;
  margin: auto;
}
.portrait-images
{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px)
{
  .portrait-images
  {
    width: 100%;
  }
  .box
  {
    width: 70%;
    padding: 0px;
  }
}

/* recipe card styling*/
#recipe-card
{
  background-color: rgb(222, 202, 176);
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  margin: auto;
}
.recipe-images
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;
}
@media only screen and (max-width: 600px)
{
  #recipe-card
  {
    width: 70%;
  }
  .recipe-images
  {
    width: 70%;
  }
}
#faqs
{
  background-color: rgb(222, 202, 176);
  width: 70%;
  border: 3px solid black;
  padding: 10px;
  margin: auto;
}
#last-img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
}

/* footer styling */
footer
{
   position: static;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding-top: 35px;
   padding-bottom: 30px;
}
.footer-text
{
  color: white;
  padding: 15px 0;
}
