/* overall page styling */
*
{
  font-family: serif, Times New Roman, Georgia;
  text-align: center;
  color: black;
}
html
{
  scroll-behavior: smooth;
}

/* back to top styling */
/* modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top */
#myBtn
{
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(222, 202, 176);
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
#myBtn:hover
{
  background-color: rgb(169, 169, 169);
  color: white;
}
@media screen and (max-width: 768px)
{
  #myBtn
  {
    border: 2px solid black;
    background-color: rgb(169, 169, 169);
    color: white;
  }
  #myBtn:hover
  {
    background-color: rgb(222, 202, 176);
    color: black;
  }
  #hamburger
  {
      color: white;
  }
}

/* navbar styling */
/* modified from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav */
.topnav
{
  overflow: hidden;
  background-color: black;
}
.topnav a
{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover
{
  background-color: rgb(222, 202, 176);
  color: black;
}
.topnav .icon
{
  display: none;
}
@media screen and (max-width: 768px)
{
  .topnav a:not(:first-child)
  {
    display: none;
  }
  .topnav a.icon
  {
    float: right;
    display: block;
  }
  .topnav.responsive
  {
    position: relative;
  }
  .topnav.responsive .icon
  {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a
  {
    float: none;
    display: block;
    text-align: left;
  }
}

/* article styling */
.article-heading
{
  font-size:520%;
}
@media screen and (max-width: 992px)
{
  .article-heading
  {
    font-size:200%;
  }
}
.article
{
   background-color: white; /*change to a nicer colour*/
   width: 60%;
   border: 0px;
   padding: 10px;
   margin: auto;
   font-size: 100%;
}
.article-image
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.introduction
{
  width: 70%;
  border: 0px;
  padding: 10px;
  margin: auto;
  font-size: 15px;
}
@media screen and (max-width: 600px)
{
  .article
  {
    width: 70%;
  }
  .article-image
  {
    width: 100%;
  }
  .conclusion
  {
    width: 100%;
  }
}


/* footer styling */
footer
{
   position: static;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding-top: 35px;
   padding-bottom: 30px;
}
.footer-text
{
  color: white;
  padding: 15px 0;
}
