/* overall page styling */
h1
{
  color: black;
  text-align: center;
}

/* stadard navigation bar styling */
.logo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.navigation
{
  background-color: rgb(143, 188, 143); /* dark sea green */
  position: fixed;
  top: 0;
  width: 100%
}
.navigation .logo
{
  float: left;
  padding: 15px 15px;
}
.navigation .pages
{
  float: left;
  color: white;
  text-decoration: none;
  font-family: serif, Times New Roman;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  padding: 30px 15px;
}
.navigation form
{
  float: right;
  padding: 30px 15px;
}

/* ABOUT US STYLING */
.about
{
  background-color: rgb(230, 230, 250); /*lavendar*/
  padding: 50px;
  width: 100%;
  text-align: center;
}

/* SCHEDULE STYLING */
.schedule
{
  background-color: rgb(255, 248, 220); /*cornsilk*/
  padding: 50px;
  margin: 10px 200px 10px 200px; /* top right bottom left */
  text-align: center;
}
table
{
  width: 50%;
  margin: auto;
}
tr
{
  text-align: center;
}
th
{
  text-align: center;
}
td
{
  text-align: center;
}

/* AWARDS STYLING */
.awards
{
  background-color: rgb(224, 255, 255); /*light cyan*/
  padding: 50px;
  margin: 10px 200px 10px 200px; /* top right bottom left */
  text-align: center;
}
dl
{
  text-align: center;
}

/* SOMETHING STYLING */
.something
{
  background-color: rgb(176, 196, 222); /* light steel blue */
  padding: 50px;
  margin: 10px 200px 10px 200px; /* top right bottom left */
  text-align: center;
}

/* footer styling */
footer
{
  background-color: rgb(143, 188, 143); /* dark sea green */
}
.footer .text
{
  color: white;
  text-decoration: none;
  font-family: serif, Times New Roman;
  text-align: center;
  font-size: x-large;
  width: 33%;
}
